<div id="profile_vm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vm_label" aria-hidden="true">
	<div class="modal-dialog modal-resize">
		<div class="modal-content">
			<div class="modal-header">
				<div ng-if="!edit_mode"><h4>Adding virtual machine :: {{profile}}</h4></div>
				<div ng-if="edit_mode"><h4>Editing virtual machine :: {{profile}}</h4></div>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Virtual Machine Name</label>
					<select ng-show="!edit_mode" class="form-control" ng-model="temp_vm_name">
						<option ng-repeat="vm in notInVMs() | orderBy: vm.name" value="{{vm.name}}">{{vm.name}}</option>
					</select>
					<div ng-show="edit_mode" class="text-big">{{temp_vm_name}}</div>
				</div>
				<div class="form-group">
					<label># of Instances</label>
					<input type="number" class="form-control input-sm" ng-model="temp_vm_instance" min="1" max="20">
				</div>
				<div class="form-group">
					<label>Virtual Machine Variable Overrides</label>
					<div class="row" style="padding: 2px 0px;" ng-repeat="(key, val) in temp_vm_config | orderBy:key ">
						<div class="col-md-2">
								{{key}}:					
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control input-sm" ng-model="temp_vm_config[key]">
						</div>
						<div class="col-md-1 text-right">
							<span class="btn btn-sm btn-default btn-danger" ng-click="remove_temp_vm_override(key);"><span class="glyphicon glyphicon-minus"></span></span>					
						</div>
					</div>
					<div class="row pad">
						<div id="new_vm_name" class="col-md-2">
							<input id="vm_name" type="text" class="form-control input-sm" ng-model="temp_vm_override_key" placeholder="Variable Name">					
						</div>
						<div id="new_vm_type" class="col-md-2">
							<select id="vm_type" class="form-control input-sm" ng-model="temp_vm_override_type">
								<option>bool</option>
								<option>int</option>
								<option>list</option>
								<option>str</option>
								<option>unicode</option>
							</select>
						</div>
						<div id="new_vm_default" class="col-md-7">
							<input id="vm_default" type="text" class="form-control input-sm" ng-model="temp_vm_override_val" placeholder="Variable Value" smart-input="{type_var: 'temp_vm_override_type', update_ctrl: 'temp_vm_override_val'}">
						</div>
						<div class="col-md-1 text-right">
							<span class="btn btn-sm btn-default btn-success" ng-click="add_temp_vm_override(key, val);"><span class="glyphicon glyphicon-plus"></span></span>					
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Close</button>
				<button ng-show="!edit_mode" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addVM();">Add to profile</button>
				<button ng-show="edit_mode" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveVM();">Update changes</button>
			</div>
			
		</div>
	</div>
</div>