{
    "base":"{{ base }}",
    "disk":"{{ disk }}",
    "name":"{{ name }}",
    "xml":"{{ xml }}",
    "snapshot_xml":"{{ snapshot_xml }}",
    "ip":"{{ ip }}",
    "gateway":"{{ gateway }}",
    "netmask":"{{ netmask }}",
    "network":"{{ network }}",
    "fakenet":"{{ fakenet }}",
    "tags":"{{ tags }}",
    "platform":"{{ platform }}",
    "guest_profile":"{{ guest_profile }}",
    "route":"{{ route }}"
}
