<BR><BR><BR><BR><BR><BR><BR>
<table border="0" align="center" width="40%" cellpadding="1" cellspacing="1">
<tr><td bgcolor=@@@TITLEBAR@@@>
<font color=@@@TITLEBAR_TEXT@@@ face=@@@FONTFACE@@@ size="3">
<B>Message rebuild failed</B></font>
</td></tr><tr><td align="center" bgcolor=@@@WINDOW_LIGHT@@@>
<BR>@@@ERRORMSG@@@, rebuild failed.<BR>
@@@CONTINUEBUTTON@@@
</td></tr></table>
